{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "branches": 99,
  "lines": 99,
  "functions": 99,
  "statements": 99,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts"
  ]
}